body {
	background-color: whitesmoke;
	line-height: 1em;
	font-family: "HelveticaNeue-Light", monospace;
	color: darkslategray;

}
h1 {
	font-size: 4em;

}

h4 {
	margin-left: 10px;
	font-weight: normal;
}


span {
	text-align: right;
	font-style: italic;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: darkslategray;
}
a:hover {
	color: slategray;
}

#header {
	margin: 10px;
}
#users {
	font-weight: bold;
}

#tweetblock {

	border: 2px solid lightgray;
	margin: 10px;
	border-radius: 5px;
	width: 60%;
	background-color: white;
	padding: 10px;
}
#navbar {
	display: none;
}

#reload, #send {
	background-color: darkslategray;
	width: 130px;
	height: 30px;
	border-radius: 3px;
	color: whitesmoke;
	text-align: center;
	line-height: 1.75em;
	display: inline-block;
	margin: 10px;
}


#reload:hover, #send:hover {
	background-color: slategray;
}

